*{
    box-sizing: border-box;
}
.top_{
    margin:10px auto;
    border-radius: 5px;
    border:1px solid black;
    margin-bottom: 0;

}
.top_ h1{
    margin:5px auto;
    text-align: center;
}
.nav_{
    margin-top:0px;
    
}
.nav_ ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: grey;
    border-radius: 5px;

    
}

ul li{
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
li a{
    
        display: block;
        padding: 8px;
        color:black;
}

.bank_image{
    margin:10px auto;
    width:500px;
    height:500px;
    
}
      
